In [2]:
import pandas as pd 
import numpy as np

In [3]:
sub_translated = pd.read_csv('/content/roberta-base_10_folds_epochs_10_0.4510475897959467.csv')

sub_bert_032 =pd.read_csv('/content/1_bert-base-uncased__config_JIZG5OcGgi_0.36311_0.35718.csv')

sub_roberta_028 = pd.read_csv('/content/roberta 0.28 score.csv')

# **Visualization**

In [4]:
sub_roberta_028[["Depression","Alcohol","Suicide","Drugs"]].apply(np.argmax, axis=1).value_counts()

0    171
1     64
2     48
3     26
dtype: int64

In [5]:
#after improvement
sub_bert_032[["Depression","Alcohol","Suicide","Drugs"]].apply(np.argmax, axis=1).value_counts()

0    176
1     64
2     44
3     25
dtype: int64

In [6]:
sub_roberta_028.describe()

       Depression     Alcohol     Suicide       Drugs
count  309.000000  309.000000  309.000000  309.000000
mean     0.544079    0.215507    0.146051    0.094363
std      0.446554    0.368990    0.258686    0.233527
min      0.004002    0.001548    0.004506    0.001207
25%      0.009855    0.001800    0.005514    0.001420
50%      0.765412    0.016647    0.008498    0.012684
75%      0.990440    0.122572    0.124758    0.035496
max      0.992491    0.967638    0.903291    0.898146

In [7]:
sub_bert_032.describe()

       Depression     Alcohol     Suicide       Drugs
count  309.000000  309.000000  309.000000  309.000000
mean     0.554633    0.215247    0.137561    0.092558
std      0.445833    0.373768    0.259679    0.240964
min      0.003956    0.001534    0.004576    0.001772
25%      0.012706    0.001991    0.006455    0.002265
50%      0.789282    0.023294    0.010033    0.013644
75%      0.988923    0.108046    0.079445    0.030495
max      0.991854    0.974116    0.915662    0.934257

# **Fistly we will blend roberta 0.2812 and bert 0.3208**

In [8]:
first = sub_roberta_028.copy()

first.iloc[:,1:] =  sub_roberta_028.iloc[:,1:]*0.75 + sub_bert_032.iloc[:,1:]*0.25

# **Visualize our  first blend**

In [11]:
first[["Depression","Alcohol","Suicide","Drugs"]].apply(np.argmax, axis=1).value_counts()

0    172
1     64
2     47
3     26
dtype: int64

In [12]:

first.describe()

       Depression     Alcohol     Suicide       Drugs
count  309.000000  309.000000  309.000000  309.000000
mean     0.546717    0.215442    0.143929    0.093912
std      0.444534    0.369730    0.256827    0.234806
min      0.004025    0.001576    0.004613    0.001348
25%      0.010703    0.001861    0.005849    0.001642
50%      0.739029    0.020936    0.009013    0.016155
75%      0.989941    0.130436    0.118032    0.038778
max      0.992274    0.969119    0.903459    0.905501

In [15]:
sub_translated[["Depression","Alcohol","Suicide","Drugs"]].apply(np.argmax, axis=1).value_counts()

0    159
1     69
2     52
3     29
dtype: int64

In [16]:
sub_translated.describe()

       Depression     Alcohol     Suicide       Drugs
count  309.000000  309.000000  309.000000  309.000000
mean     0.485159    0.249667    0.157820    0.107354
std      0.427474    0.381849    0.252933    0.255593
min      0.000010    0.000030    0.000029    0.000013
25%      0.004559    0.002939    0.001658    0.000377
50%      0.432453    0.032288    0.015074    0.004082
75%      0.975650    0.262701    0.231597    0.053219
max      0.999544    0.999816    0.988648    0.994292

In [17]:
second = first.copy()


second.iloc[:,1:] =  first.iloc[:,1:]*0.6 + sub_translated.iloc[:,1:]*0.4

In [19]:
second.to_csv('a_probs.csv',index=False)